#about {
  // padding: 30px 0;

  .info, .map {
    text-align: center;
  }

  .info {
    border-right: 2px solid #fff;
    .lead {
      margin-bottom: 30px;
    }
  }

  .map {
    padding-top: 30px;
  }
}