#reviews {

  #yelp {
    border-right: 2px solid #fff;

    @media @smartphones {
      border-right: none;
    }

    blockquote {
      border: none;
      background-color: @color-gray;
      border: 1px solid @color-light-gray;
      border-radius: 5px;
    }
  }

  #instagram {
    figure {
      position: relative;
      display: table;

      figcaption {
        background-color: rgba(0,0,0,0.35);
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        min-height: 25px;
        padding: 15px; 
      }
    }
  }
}