#services {
  div {
    padding: 30px 15px;

    dl {
      font-size: 18px;

      dt {
        position: relative; 
        clear: both;
        float: left;

        &:before {
          .vertical-center;
          left: 240px;
          content: '';
          border-top: 2px dotted #fff;
          width: 450px;
        }
      }

      dd {
        text-align: right;
        float: right;
      }
    }
  }
}