//** FONT VARIABLES **//
@body-font-family:            "Times New Roman", Times, serif;
@headline-font-family:        "Abril Fatface", cursive;

//** COLOR VARIABLES **//
@color-black:                 #444;
@color-gray:                  lighten(@color-black, 30%);
